/* Основні стилі для всього сайту */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
}

/* Стилі для кнопок */
button, .btn {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

/* Контейнери */
.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filters {
    flex: 1;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.teachers {
    flex: 2;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Кнопка в формі */
button {
    width: 100%;
}

/* Списки */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Кнопка email */
.email-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.email-button:hover {
    background-color: #0056b3;
}

/* Інформація профілю */
.profile-info {
    margin: 20px 0;
}

.profile-info h2 {
    text-align: center;
    color: #007bff;
}

.profile-info p {
    font-size: 16px;
    line-height: 1.5;
}

/* Стилі для помилок */
.errorlist {
    color: red;
    margin: 10px 0;
}

/* Центрування елементів */
p {
    text-align: center;
}
